- name: Deploy to EC2
  hosts: localhost
  connection: local

  tasks: 
    - name: Launch EC2 Instance
      ec2_instance: 
        instance_type: t3.medium
        image_id: ami-04e5276ebb8451442
        region: us-east-1
        key_name: test
        vpc_subnet_id: subnet-0d28ccfb88b165ecd
        tags:
          Name: Eshop
        count: 1
        security_group: eshop
        network:
          assign_public_ip: yes
        wait: yes
        aws_access_key: "{{ access_key }}"
        aws_secret_key: "{{ secret_key }}"
        security_token: "{{ session_token }}"
      register: ec2_instance_result

    - name: Add instance host to group
      add_host:
        hostname: "{{ item.public_ip_address }}"
        groupname: launched
      loop: "{{ ec2_instance_result.instances }}"

    - name: Wait for SSH connection
      delegate_to: "{{ item.public_dns_name }}"
      wait_for_connection:
        delay: 30
        timeout: 300
      loop: "{{ ec2_instance_result.instances }}"

- name: Configure EC2 instances
  hosts: launched
  connection: ssh
  become: yes

  tasks:
    - name: Install Git and Docker
      yum: 
        name:
          - git
          - docker
        state: latest
        update_cache: yes
    - service:
        name: docker
        state: started
        enabled: yes
    - name: Set proper rights to Docker service
      shell: usermod -a -G docker ec2-user

    - name: Fetch eshop from Git
      git: 
        repo: 'https://github.com/shtolts/4IT572_docker.git'
        dest: ./app

    - name: Build Eshop Docker image_id
      docker_image: 
        build:
          path: ./app
        name: eshop
        tag: latest
        source: build
    - name: Run Eshop Docker
      docker_container:
        name: eshop
        image: eshop
        state: started
        ports: 
          - "80:3000"

    - name: Wait for eshop to run
      wait_for:
        port:
          80

